//- base data
- var baseData = {};

//- base info
- var _siteName = 'Hello World';
- var _author = "author";
- var _url = 'http://mysite.com';
- var _description = 'this is description.';
- var cacheClear = (Math.random()*10000000000000).toString().substring(0, 12);

//- secData
- var secData = [];
- secData[0] = {}
- secData[0].pickup = 'NEW';
- secData[0].title = 'Good Morning';
- secData[0].description = 'description description description description description description description description description description description description.';
- secData[1] = {}
- secData[1].title = 'Hello World';
- secData[1].description = 'text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text.';
- secData[2] = {}
- secData[2].pickup = 'INFO';
- secData[2].title = 'Good Evening';
- secData[2].description = 'string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string.';
- secData[3] = {}
- secData[3].title = 'Good Bye';
- secData[3].description = 'string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string string.';